.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: 300ms ease-in-out;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1.5px solid black;
  transform: scale(0.9);
}
