main {
  margin: 5rem 0;
  /* height: 70vh; */
}

.notes {
  overflow: hidden;
}

.actionsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionsBox h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  border: 2px solid black;
  padding: 0.7rem 2rem;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.buttons button:hover {
  border: none;
  background-color: black;
  color: white;
  transform: scale(0.9);
}

/* ##########   NOTES GROUP   ############*/

.notesGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* ##########   ADD NOTE CARD  ############*/
.add {
  background-color: black !important;
  color: white;
  transition: 300ms ease-in-out;
  padding: 1rem;
}

.add:hover {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
  box-shadow: unset !important;
  transform: scale(0.95);
}

.add > div {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.add i {
  font-weight: bold;
  font-size: 3rem;
}
