.footer > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e7e9;
}

.footer h2 {
  user-select: none;
  cursor: pointer;
}

.footer p {
  color: #a4a7b2;
}

a {
  text-decoration: none;
  color: unset;
}
