/* .section {
 
} */

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 49vh;
}

.icons {
  display: flex;
  gap: 3rem;
}

.icons i {
  font-size: 3rem;
}

.pageContent h1 {
  font-size: 3rem;
}
